{{/*
# Copyright 2020-present Open Networking Foundation

# SPDX-License-Identifier: Apache-2.0
*/}}

{{- if .Values.config.webui.deploy }}

{{- if not .Values.config.useExistingConfigMap -}}
{{- $webuicfg := index .Values.config.webui.cfgFiles "webuicfg.conf" }}
{{- $config := index $webuicfg "configuration" }}

{{- if not (hasKey $webuicfg "logger") -}}
{{- $_ := .Values.config.logger | set $webuicfg "logger" -}}
{{- end }}

{{- if not (hasKey $config "managedByConfigPod") -}}
{{- $_ := .Values.config.managedByConfigPod | set $config "managedByConfigPod" -}}
{{- end }}

{{- if not (hasKey $config "mongodb") -}}
{{- $_ := dict "name" .Values.config.mongodb.name "url" .Values.config.mongodb.url | set $config "mongodb" -}}
{{- end }}

{{- end }}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: webui
  labels:
{{ tuple "webui" . | include "5g-control-plane.metadata_labels" | indent 4 }}
data:
  webui-run.sh: |
{{ tuple "bin/_webui-run.sh.tpl" . | include "5g-control-plane.template" | indent 4 }}
{{- if not .Values.config.useExistingConfigMap -}}
{{- range $key, $value := .Values.config.webui.cfgFiles }}
  {{ $key }}: |-
{{ toYaml $value | indent 4 }}
{{- end }}
{{- end }}
{{- end }}
