# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation

name: Main workflow

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  lint-charts:
    permissions:
      contents: read
      checks: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/lint-charts.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    secrets: inherit
    with:
      branch_name: ${{ github.ref }}

  license-check:
    permissions:
      contents: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/license-check.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      branch_name: ${{ github.ref }}

  fossa-scan:
    permissions:
      contents: read
      security-events: write
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/fossa-scan.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      branch_name: ${{ github.ref }}

  analysis:
    if: github.repository_owner == 'omec-project'
    permissions:
      actions: read
      artifact-metadata: read
      attestations: read
      checks: read
      contents: read
      deployments: read
      discussions: read
      id-token: write
      issues: read
      models: read
      packages: read
      pages: read
      pull-requests: read
      repository-projects: read
      security-events: write
      statuses: read
    uses: omec-project/.github/.github/workflows/scorecard-analysis.yml@64e827412bb394b5458ef48b4e178fc1c702678a # v0.0.10
    with:
      branch_name: ${{ github.ref }}
