# SPDX-License-Identifier: Apache-2.0
# Copyright 2024 Intel Corporation
name: Release Pipeline

on:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  tag-github:
    permissions:
      contents: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/tag-github.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    secrets: inherit

  publish:
    permissions:
      contents: read
      packages: write
      actions: read
      id-token: write
      attestations: write
    uses: omec-project/.github/.github/workflows/publish-charts.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    secrets: inherit
    with:
      branch_name: ${{ github.ref }}

  update-version:
    needs: tag-github
    permissions:
      contents: write
      pull-requests: write
      actions: read
      id-token: write
    uses: omec-project/.github/.github/workflows/update-version.yml@1e62855922cacee05c51f0fc7245fc9e1e7b38a6 # v0.0.8
    with:
      changed: ${{ needs.tag-github.outputs.changed }}
      version: ${{ needs.tag-github.outputs.version }}
    secrets: inherit
