# SPDX-License-Identifier: Apache-2.0
# Copyright 2026 Intel Corporation
on:
  schedule:
    - cron: "0 0 * * 1,4"  # Mondays and Thursdays

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
      contents: read
      actions: read
    uses: omec-project/.github/.github/workflows/stale-issue.yml@8dfff47ca98efd751c939d94b9c207be27f99492 # v0.0.11
    with:
      days_before_stale: 120
      days_before_close: 15
    secrets: inherit
